<!-- Page header containing address search form -->
<div id="header">
  <a href='<%= root_url %>'>
    <%= image_tag 'logo.png', 
                  :size => '32x32', 
                  :id => 'logo', 
                  :alt => 'Logo' %>
  </a>
  <h1>SkateHamilton</h1>
  
  <div id="input_container">
    <h3>FIND A RINK</h3>
    <form style='display:inline'>
      <input type="text" name="address" id="search_address" value="Enter address or rink name" />
      <%= link_to image_tag("search.png", :size => "32x32", :id => "search_submit", :alt => "Search"), "#" %>
    </form>
  </div>

  <div class="clearfix"></div>
</div>


<!-- Left-side content window -->
<div id="left_panel">
  <div id="contents">
    <div id='left_content'>
      <h1>welcome.</h1>
      <h3>Find a place to skate, play hockey and enjoy the outdoors.</h3>
      <br/>
      <ul id="tasks">
        <li>
          <%= image_tag "find.png", :alt => "Find a Rink", :size => "120x90" %>
          <h2><%= link_to "Find a Rink", "#", :id => "find_rink" %></h2>
          <h3>Find a public rink in Hamilton by entering your address or browsing on the map to the right.</h3>
          <div class="clearfix"></div>
        </li>
        <li>
          <%= image_tag "add.png", :alt => "Add a Rink", :size => "120x90" %>
          <h2><%= link_to "Add a Rink", "#", :id => "add_rink" %></h2>
          <h3>Did we miss a rink?  Help us out by letting us know there's some more ice we're missing.</h3>
          <div class="clearfix"></div>
        </li>
        <li>
          <%= image_tag "explain_3.gif", :alt => "Go Mobile", :size => "120x90" %>
          <h2><%= link_to "Go Mobile", "#", :id => "mobile" %></h2>
          <h3>Our mobile web-app works on all Android and iOS devices.  Find a rink nearby, update rink conditions and more on the go.</h3>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

    <div id="footer">
      <%= link_to "home", "#", :id => "home_link" %>&nbsp;|&nbsp;<%= link_to "about", about_url %>&nbsp;|&nbsp;<%= link_to "contact", contact_url %>&nbsp;|&nbsp;<%= link_to "developers", api_url %>&nbsp;|&nbsp;<%= link_to "openhamilton", "http://openhamilton.ca" %>
    </div>
  </div>
</div>

<!-- Open/close leftbar -->
<div id="left_panel_control">
  <%= image_tag 'button_tab_out.png', 
                :alt => 'Toggle panel', 
                :id => 'button_out' %>

  <%= image_tag 'button_tab_in.png', 
                :alt => 'Toggle panel',
                :id => 'button_in', 
                :style => 'display: none' %>
</div>


<!-- Google Map -->
<div id="map_canvas">
  <div id="map"></div>
</div>

<script id="home-template" type="text/x-handlebars-template">
  <h1>welcome.</h1>
  <h3>Find a place to skate, play hockey and enjoy the outdoors.</h3>
  <br/>
  <ul id="tasks">
    <li>
      <%= image_tag "find.png", :alt => "Find a Rink", :size => "120x90" %>
      <h2><%= link_to "Find a Rink", "#", :id => "find_rink" %></h2>
      <h3>Find a public outdoor rink in Hamilton by entering your address or browsing on the map to the right.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "add.png", :alt => "Add a Rink", :size => "120x90" %>
      <h2><%= link_to "Add a Rink", "#", :id => "add_rink" %></h2>
      <h3>Did we miss a rink?  Help us out by letting us know there's some more ice we're missing.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "explain_3.gif", :alt => "Go Mobile", :size => "120x90" %>
      <h2><%= link_to "Go Mobile", "#", :id => "mobile" %></h2>
      <h3>Our mobile web-app works on all Android and iOS devices.  Find a rink nearby, update rink conditions and more on the go.</h3>
      <div class="clearfix"></div>
    </li>
  </ul>
</script>

<script id="mobile-template" type="text/x-handlebars-template">
  <h1>go mobile.</h1>
  <h3>Use SkateHamilton on your mobile phone to find rinks on the run.</h3>
  <br/>
  <ul id="tasks">
    <li>
      <%= image_tag "explain_1.gif", :alt => "iOS", :size => "120x90" %>
      <h2>iPhone/iPod</h2>
      <h3>SkateHamilton is designed for iOS devices and you can even add it to your home screen.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "explain_2.gif", :alt => "Android", :size => "120x90" %>
      <h2>Android</h2>
      <h3>SkateHamilton is designed to work well on your Android smartphone and gives you all the capabilties of the desktop site.</h3>
      <div class="clearfix"></div>
    </li>
  </ul>
</script>

<script id="add-rink-template" type="text/x-handlebars-template">
  <h1>add a rink.</h1>
  <h3>Let us know if we missed a rink that should be on the map.</h3>

  <form action="#add" method="POST">
    <label for="email">Email address</label><br/>
    <input type="text" id="email" name="email" /><br/><br/>
    <label for="details">Rink Details</label><br/>
    <textarea id="details" name="details" rows="5"></textarea><br/>

    <input type="submit" name="submit" value="Submit" />
  </form>
</script>

<script id="info-bubble-template" type="text/x-handlebars-template">
  <div id="bubble_container">
    <div class="up_triangle"></div>
    <div id="info_bubble" class="tap-closeable">
      <h3>start searching.</h3>
      <div class="close">Close<div class="image"></div><div class="clearfix"></div></div>
      <div class="clearfix"></div>
      <div id="words">
        Find skating rinks nearby by entering a street address in the box above.  Click the map markers to get more information.
      </div>
    </div>
  </div>
</script>

<!-- SH.views.RinkView Template -->
<script id="rink-view-template" type="text/x-handlebars-template">
  <div class="rink_details">
    <div id='entrance'>
      Skate Hamilton helps you find a place to skate, play hockey or enjoy the outdoors in Hamilton.  Enjoy.
    </div>
    <h2>{{name}}</h2>
    <h4>{{address}}&nbsp;&nbsp;<span class="type">({{type}} Rink)</span></h4>
    <ul class='action_buttons'>
      <li class='btn'>
        <button href='http://maps.google.com/maps?daddr={{lat}},{{lng}}' onclick=";window.location.href=this.getAttribute('href');return false;" class='start'>
          <img src='/assets/direction.png' height='16' width='16' />Directions
        </button>
      </li>
      <li class='btn'>
        <button href='http://www.hamilton.ca/CultureandRecreation/Recreation/CentresPoolsArenas/' onclick=";window.location.href=this.getAttribute('href');return false;">
          <img src='/assets/info.png' height='16' width='16' />City Info
        </button>
      </li>
      <li class='btn'>
        <button onclick=';var x=document.getElementById("share");x.style.display=(x.style.display=="block")?"none":"block";return false;' class='last'>
          <img src='/assets/info.png' height='16' width='16' />Share
        </button>
      </li>
    </ul>
    <div class='share' id='share'>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
      <a class="addthis_button_tweet"></a>
      <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
      <a class="addthis_counter addthis_pill_style"></a>
      </div>
      <!-- AddThis Button END -->
    </div>
    <h3>Map</h3>
    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&amp;zoom=15&amp;size=353x240&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:red%7C{{lat}},{{lng}}" class="map">
    <br/>
    <h3>Activities</h3>
    {{#if hasActivities}}
      <table border='0' class='activities' cellspacing='0' style='width:100%;' id='activities'>
      </table>
    {{else}}
      <p>No scheduled public activities.</p>
    {{/if}}

    {{#if note}}
      <h3>Notes</h3>
      <p>{{note}}</p>
    {{/if}}
  </div>
</script>

<!-- SH.views.ActivityView -->
<script id='activity-view-template' type='text/x-handlebars-template'>
  <tr width="100%" style="vertical-align:text-top">
    {{#if rows}}
      <th width="40%" class="{{class}}" rowspan="{{rows}}">
        <b>{{name}}</b>
      </th>
    {{/if}}
    <td width="35%" class="{{class}}">
      {{day}}
    </td>
    <td class="{{class}} end">
      {{times}}
    </td>
  </tr>
</script>


<script type="text/javascript">
  var rinks = <%=@Rinks.html_safe %>;
</script>

<script type="text/javascript">
    var addthis_config = {"data_track_clickback":true};
</script>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=[YOUR PROFILE ID]"></script>