<!-- Page header containing address search form -->
<div id="header">
  <%= image_tag "logo.png", :size => "32x32", :id => "logo", :alt => "Logo" %>
  <h1>SkateHamilton</h1>
  
  <div id="input_container">
    <h3>FIND A RINK</h3>
    <input type="text" name="address" id="search_address" value="Address..." />
    <%= link_to image_tag("search.png", :size => "32x32", :id => "search_submit", :alt => "Search"), "#" %>
  </div>

  <div class="clearfix"></div>
</div>


<!-- Left-side content window -->
<div id="left_panel">
  <div id="contents">
    <h1>welcome.</h1>
    <h3>Find a place to skate, play hockey and enjoy the outdoors.</h3>
    <br/>
    <ul id="tasks">
      <li>
        <%= image_tag "explain_1.gif", :alt => "Find a Rink", :size => "120x90" %>
        <h2><%= link_to "Find a Rink", "#", :id => "find_rink" %></h2>
        <h3>Find a public rink in Hamilton by entering your address or browsing on the map to the right.</h3>
        <div class="clearfix"></div>
      </li>
      <li>
        <%= image_tag "explain_2.gif", :alt => "Add a Rink", :size => "120x90" %>
        <h2><%= link_to "Add a Rink", "#", :id => "add_rink" %></h2>
        <h3>Did we miss a rink?  Help us out by letting us know there's some more ice we're missing.</h3>
        <div class="clearfix"></div>
      </li>
      <li>
        <%= image_tag "explain_3.gif", :alt => "Go Mobile", :size => "120x90" %>
        <h2><%= link_to "Go Mobile", "#", :id => "mobile" %></h2>
        <h3>Our mobile web-app works on all Android and iOS devices.  Find a rink nearby, update rink conditions and more on the go.</h3>
        <div class="clearfix"></div>
      </li>
    </ul>

    <div id="footer">
      <%= link_to "home", "#", :id => "home_link" %>&nbsp;|&nbsp;<%= link_to "about", about_url %>&nbsp;|&nbsp;<%= link_to "contact", contact_url %>&nbsp;|&nbsp;<%= link_to "developers", api_url %>&nbsp;|&nbsp;<%= link_to "openhamilton", "http://openhamilton.ca" %>
    </div>
  </div>
</div>

<!-- Open/close leftbar -->
<div id="left_panel_control">
  <%= image_tag "button_tab_out.png", :alt => "Toggle panel" %>
</div>


<!-- Google Map -->
<div id="map_canvas">
  <div id="map"></div>
</div>

<script id="footer-template" type="text/x-handlebars-template">
  <div id="footer">
    <%= link_to "home", "#", :id => "home_link" %>&nbsp;|&nbsp;<%= link_to "about", about_url %>&nbsp;|&nbsp;<%= link_to "contact", contact_url %>&nbsp;|&nbsp;<%= link_to "developers", api_url %>&nbsp;|&nbsp;<%= link_to "openhamilton", "http://openhamilton.ca" %>
  </div>
</script>

<script id="home-template" type="text/x-handlebars-template">
  <h1>welcome.</h1>
  <h3>Find a place to skate, play hockey and enjoy the outdoors.</h3>
  <br/>
  <ul id="tasks">
    <li>
      <%= image_tag "explain_1.gif", :alt => "Find a Rink", :size => "120x90" %>
      <h2><%= link_to "Find a Rink", "#", :id => "find_rink" %></h2>
      <h3>Find a public outdoor rink in Hamilton by entering your address or browsing on the map to the right.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "explain_2.gif", :alt => "Add a Rink", :size => "120x90" %>
      <h2><%= link_to "Add a Rink", "#", :id => "add_rink" %></h2>
      <h3>Did we miss a rink?  Help us out by letting us know there's some more ice we're missing.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "explain_3.gif", :alt => "Go Mobile", :size => "120x90" %>
      <h2><%= link_to "Go Mobile", "#", :id => "mobile" %></h2>
      <h3>Our mobile web-app works on all Android and iOS devices.  Find a rink nearby, update rink conditions and more on the go.</h3>
      <div class="clearfix"></div>
    </li>
  </ul>

  {{> footer}}
</script>

<script id="mobile-template" type="text/x-handlebars-template">
  <h1>go mobile.</h1>
  <h3>Use SkateHamilton on your mobile phone to find rinks on the run.</h3>
  <br/>
  <ul id="tasks">
    <li>
      <%= image_tag "explain_1.gif", :alt => "iOS", :size => "120x90" %>
      <h2>iPhone/iPod</h2>
      <h3>SkateHamilton is designed for iOS devices and you can even add it to your home screen.</h3>
      <div class="clearfix"></div>
    </li>
    <li>
      <%= image_tag "explain_2.gif", :alt => "Android", :size => "120x90" %>
      <h2>Android</h2>
      <h3>SkateHamilton is designed to work well on your Android smartphone and gives you all the capabilties of the desktop site.</h3>
      <div class="clearfix"></div>
    </li>
  </ul>

  {{> footer}}
</script>

<script id="add-rink-template" type="text/x-handlebars-template">
  <h1>add a rink.</h1>
  <h3>Let us know if we missed a rink that should be on the map.</h3>

  <form action="#add" method="POST">
    <label for="email">Email address</label><br/>
    <input type="text" id="email" name="email" /><br/><br/>
    <label for="details">Rink Details</label><br/>
    <textarea id="details" name="details" rows="5"></textarea><br/>

    <input type="submit" name="submit" value="Submit" />
  </form>

  {{> footer}}
</script>

<script id="rink-details-template" type="text/x-handlebars-template">
  <div class="rink_details">
    <h2>{{name}}</h2>
    <h4>{{address}}&nbsp;&nbsp;<span class="type">({{capRink rink_type}} Rink)</span></h4>
    <h3>Map</h3>
    <a href="http://maps.google.com/maps?daddr={{latitude}},{{longitude}}" target="_blank">{{{staticMap this}}}</a>
    <br/>
    <h3>Activities</h3>
    {{#if activities.length}}
      <table border='0' class="activities">
      {{#each activities}}
        <tr width='100%' style="vertical-align: text-top">
          <td width='40%'><b>{{name}}</b></td>
          {{{toString times}}}
      {{/each}}
      </table>
    {{else}}
      <p>No scheduled public activities.</p>
    {{/if}}
    <h3>Notes</h3>
    <p>{{note}}</p>
  </div>
  {{> footer}}
</script>

<script id="info-bubble-template" type="text/x-handlebars-template">
  <div id="bubble_container">
    <div class="up_triangle"></div>
    <div id="info_bubble" class="tap-closeable">
      <h3>start searching.</h3>
      <div class="close">Close<div class="image"></div><div class="clearfix"></div></div>
      <div class="clearfix"></div>
      <div id="words">
        Find skating rinks nearby by entering a street address in the box above.  Click the map markers to get more information.
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">
  var button_tab_out = "<%= image_path 'button_tab_out.png' %>";
  var button_tab_in  = "<%= image_path 'button_tab_in.png' %>";
  var rinks = <%=@Rinks.html_safe %>;
  var path = '<%=rinks_url %>';
  var green_url = '<%=asset_path "green.png" %>';
</script>